body{
    color: whitesmoke;
    background-color: rgb(139, 208, 218);
}
   
.heading{
    width: 80%;
    font-size: 22px;
}


#camera{
    border: 2px dashed black;
    width: 400px;
    height: 350px;
}

.name_of_object{
    color: rgb(0, 153, 255);
}